@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
    font-family: Montserrat, sans-serif;
}

header {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
}

.icons {
    width: 40px;
    height: 40px;
}

.title {
    margin: 0;
    display: flex;
    align-items: center;
}

.image {
    background-image: url('assets/kyrios.png');
    background-position: fstar;
    background-size: cover;
    background-repeat: repeat;
    height: 550px;
}

.links {
    display: flex;
    gap: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
    padding: 100px;
    justify-content: center;
    gap: 40px;
}

#kyrios {
    width: 500px;
    border-radius: 10px;
    border: 4px solid lightblue;
}